{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        Récuperation de mot de passe
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}

        Bonjour {{ user.username }}
        Si vous avez demandé la récupereration de votre mot de passe TapBuy, le lien de confirmation est : {{ confirmationUrl }}.
        Sinon veuillez simplement ignorer cet email.

        TapBuy
    {% endautoescape %}
{% endblock %}
{% block body_html %}

    <h2>Bonjour {{ user.username }}</h2>
    <p>Si vous avez demandé la récupereration de votre mot de passe TapBuy, le lien de confirmation est : {{ confirmationUrl }}.</p>
    <p>Sinon veuillez simplement ignorer cet email.</p>
<br>
    <i>TapBuy</i>
{% endblock %}