body#security {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255,255,255);
  .background {
    background: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  content {
    position: relative;
    display: block;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 15% auto 100px;
    @media (max-width: 800px) {
      margin: 10% auto 100px;
      max-width: 80%;
    }
    @media (max-width: 600px) {
      margin: 50px auto auto;
      max-width: 95%;
    }

    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


  }
}